[submodule "pack/vendor/opt/fff.nvim"]
	path = pack/vendor/opt/fff.nvim
	url = https://github.com/dmtrKovalenko/fff.nvim
[submodule "pack/vendor/opt/blink.cmp"]
	path = pack/vendor/opt/blink.cmp
	url = https://github.com/saghen/blink.cmp.git
[submodule "pack/vendor/opt/grug-far.nvim"]
	path = pack/vendor/opt/grug-far.nvim
	url = https://github.com/MagicDuck/grug-far.nvim.git
[submodule "pack/vendor/opt/nvim-window"]
	path = pack/vendor/opt/nvim-window
	url = https://github.com/jamylak/nvim-window.git
	branch = feature/disable-hints
[submodule "pack/vendor/opt/oil.nvim"]
	path = pack/vendor/opt/oil.nvim
	url = https://github.com/stevearc/oil.nvim
