[submodule "pack/vendor/opt/fff.nvim"]
	path = pack/vendor/opt/fff.nvim
	url = https://github.com/dmtrKovalenko/fff.nvim
[submodule "pack/vendor/opt/blink.cmp"]
	path = pack/vendor/opt/blink.cmp
	url = https://github.com/saghen/blink.cmp.git
